@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.watford-main{
  display: flex;
  flex-direction: column;
}
.carousel-item::after{
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
.carousel-item::before{
  content:"";
  display:block;
  position:relative;
  
}
.watford-img_content{
  position: absolute;
  top: 50vh;
  left: 10%;
  z-index: 1;
  color: white;
}
.watford-body_content{
  color: white;
}

.navbar-expand-lg {
  min-height: 10vh;
}
.nav-link:hover{
  font-size: larger;
  transition: 0.2s ease-in-out;
  font-weight:800;
  font-size: 20px;
}
.nav-link{
  min-width: 23vh;
  display:flex;
  justify-content: center;
  font-size: 18px;
}
.navbar-nav{    
  align-items:center;
  min-height:10vh;
}
.watford_banner_img{
  width:100%;
  height:85vh;
}


/* Contact Us */
.watford_contact_box-group{
  display: flex;
  width: 50%;
  margin: auto;
}
.watford_contact_box1,.watford_contact_box2,.watford_contact_box3{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.watford_contact_box1 i,.watford_contact_box2 i,.watford_contact_box3 i{
  font-size: 40px;
}
/* Footer */
.footer_watford{
  width: 100%;
  
  position:relative;
  height:40vh;

}
.footer-overlay-front{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  color: white;
  height:40vh;
  background:rgba(0, 0, 0,.9);
  display: flex;
  flex-direction: column;
}
.footer_img img{
  height:40vh;
}
.footer_layer1{
  flex: 3;
  width: auto;
}
.footer_layer2{
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer_section1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_section3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.footer_section2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_section2 ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left:0;
  align-items: center;
}
.footer_section2 ul a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.footer_section2 ul a:hover{
  transition: 0.2s ease-in-out;
  font-weight:800;
}

.footer_section3 ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;

  padding-left:0
}
.footer_section3 ul a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.footer_section3 ul a:hover{
  transition: 0.2s ease-in-out;
  font-weight:800;
}
/* For Responsive */
@media only screen and (max-width: 450px) {
  .watford-img_content p, .watford-img_content span{
    font-size: larger !important;
  }
  .watford-img_content button{
    margin-top:0% !important;
    margin-left:10px !important;
    font-size: medium !important;

  }
}
@media only screen and (max-width: 800px) {
  .footer_img img{
    height:65vh;
  }
  .footer-overlay-front{
    height:65vh;
  background:rgba(0, 0, 0,.9);
  }
}

/* Responsive for contact */

@media only screen and (max-width: 970px){
  .watford_contact_box-group{
    flex-direction: column;
    
  }
}
/* Member Page */
.member_watford{
  min-height: 70vh;
}
