@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.watford-main{
  display: flex;
  flex-direction: column;
}
.carousel-item::after{
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
.carousel-item::before{
  content:"";
  display:block;
  position:relative;
  
}
.watford-img_content{
  position: absolute;
  top: 50vh;
  left: 10%;
  z-index: 1;
  color: white;
}
.watford-body_content{
  color: white;
}

.navbar-expand-lg {
  min-height: 10vh;
}
.nav-link:hover{
  font-size: larger;
  transition: 0.2s ease-in-out;
  font-weight:800;
}
.nav-link{
  min-width: 23vh;
  display:flex;
  justify-content: center;
}
.navbar-nav{    
  align-items:center;
  min-height:10vh;
}
.watford_banner_img{
  width:100%;
  height:85vh;
}
/* Footer */
.footer_watford{
  width: 100%;
  height: 30vh;
  background:black

}
.footer_img img{
  width: 100%;
  height: 30vh;
  opacity: 0.5;
}


/* For Responsive */
@media only screen and (max-width: 450px) {
  .watford-img_content p, .watford-img_content span{
    font-size: larger !important;
  }
  .watford-img_content button{
    margin-top:0% !important;
    margin-left:10px !important;
    font-size: medium !important;

  }
}


/* Member Page */
.member_watford{
  min-height: 70vh;
}
